@media (max-width: 740px) {

    .backgroundtotal {
        display: flex;
        flex-direction: column;
        height: 90%;
        width: 450px;
        margin: 30px 0px;
        justify-content: center;
        align-items: center;
    }
    .card-total {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .result-side-card, .summary-side-card {
        height: 100%
    }
}

@media (max-width: 490px) {

    .backgroundtotal {
        width: 375px;

    }
}

@media (max-width: 400px) {

    .backgroundtotal {
        width: 350px;
        height: 100%;
    }
    .result-side-card, .summary-side-card {
        width: 100vw;
        border-radius: 0px;
    }
}