:root{
    --primary-color:(#A40E4C);
    --secondary-color:(#2b2b54);
    --soft-color:(#F49D6E);
    --light-soft-color:(#F5D6BA);
    --secondary-soft-color:(#ACC3A6);
    --dark-color:(#000000);
}